<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-hZD/e+TzuoHVZjW22c/JOJkuY/nH5E/njOioL/6dVYF0I+uT8vV0H5sUQ+sWwu8h8R3w1Zz8mVJAKYT7u7Jx3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="{{asset('user/assets/images/logo_muga.png')}}" type="image/png">
    <title>SMK Muhammadiyah 3 Tegaldlimo</title>

    <!-- Bootstrap core CSS -->
    <link href="{{asset('user/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{asset('user/assets/css/fontawesome.css')}}">
    <link rel="stylesheet" href="{{asset('user/assets/css/templatemo-seo-dream.css')}}">
    <link rel="stylesheet" href="{{asset('user/assets/css/animated.css')}}">
    <link rel="stylesheet" href="{{asset('user/assets/css/owl.css')}}">
    <!--

TemplateMo 563 SEO Dream

https://templatemo.com/tm-563-seo-dream

-->

</head>

<body>

</body>

</html>

{{-- //////////////////////////////////////////////////////////////////////////////// --}}
<div id="services" class="our-services section">
    <div class="container" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <h2 class="mt-5">Daftar Guru dan Karyawan</h2>
                </div>
            </div>
        </div>
        <div class="filter">
            <button class="filter-btn" onclick="filterCards('all')">Semua</button>
            <button class="filter-btn" onclick="filterCards('PPLG')">PPLG</button>
            <button class="filter-btn" onclick="filterCards('MPLB')">MPLB</button>
            <button class="filter-btn" onclick="filterCards('TBSM')">TBSM</button>
            <button class="filter-btn" onclick="filterCards('TKRO')">TKRO</button>
            <button class="filter-btn" onclick="filterCards('Normatif')">Normatif</button>
            <button class="filter-btn" onclick="filterCards('Karyawan')">Karyawan</button>
            <button class="filter-btn" onclick="filterCards('Waka')">Waka</button>
        </div>
        <div class="row">



            <div class="col-md-2" style="margin-bottom: 20px;">
                <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                    class="card card-color3" data-category="TKRO">
                    <img src="{{asset('user/assets/images/ahmadmarzuki.png')}}"
                        style="border-top-left-radius: 10px; border-top-right-radius: 10px;" alt="TKRO">
                    <div class="card-content">
                        <h6 class="text-dark" style="font-weight: bold;">Akhmad Marzuki, S.T.</h6>
                        <p class="text-dark">K3 TKRO</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-bottom: 20px;">
                <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                    class="card card-color3" data-category="TKRO">
                    <img src="{{asset('user/assets/images/hadi.png')}}"
                        style="border-top-left-radius: 10px; border-top-right-radius: 10px;" alt="TKRO">
                    <div class="card-content">
                        <h6 class="text-dark" style="font-weight: bold;">Muhamad Hadi M., S.T.</h6>
                        <p class="text-dark">Produktif TKRO</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-bottom: 20px;">
                <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                    class="card card-color3" data-category="TKRO">
                    <img src="{{asset('user/assets/images/febi.jpg')}}"
                        style="border-top-left-radius: 10px; border-top-right-radius: 10px;" alt="TKRO">
                    <div class="card-content">
                        <h6 class="text-dark" style="font-weight: bold;">Febi Islam R., S.T.</h6>
                        <p class="text-dark">Produktif TKRO</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-bottom: 20px;">
                <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                    class="card card-color3" data-category="TKRO">
                    <img src="{{asset('user/assets/images/amar.jpg')}}"
                        style="border-top-left-radius: 10px; border-top-right-radius: 10px;" alt="TKRO">
                    <div class="card-content">
                        <h6 class="text-dark" style="font-weight: bold;">Amar Abdul Aziz</h6>
                        <p class="text-dark">Toolman TKRO</p>
                    </div>
                </div>
            </div>




            <div class="col-md-2" style="margin-bottom: 20px;">
                <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                    class="card card-color1" data-category="TBSM">
                    <img src="{{asset('user/assets/images/jeny.png')}}"
                        style="border-top-left-radius: 10px; border-top-right-radius: 10px;" alt="TBSM">
                    <div class="card-content">
                        <h6 class="text-dark" style="font-weight: bold;">Jenny Pratama, S.T.</h6>
                        <p class="text-dark">K3 TBSM</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-bottom: 20px;">
                <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                    class="card card-color1" data-category="TBSM">
                    <img src="{{asset('user/assets/images/rohman.png')}}"
                        style="border-top-left-radius: 10px; border-top-right-radius: 10px;" alt="TBSM">
                    <div class="card-content">
                        <h6 class="text-dark" style="font-weight: bold;">Rohman Subekti, S.T.</h6>
                        <p class="text-dark">Produktif TBSM</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-bottom: 20px;">
                <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                    class="card card-color1" data-category="TBSM">
                    <img src="{{asset('user/assets/images/rendizulfikar.jpg')}}"
                        style="border-top-left-radius: 10px; border-top-right-radius: 10px;" alt="TBSM">
                    <div class="card-content">
                        <h6 class="text-dark" style="font-weight: bold;">Rendi Zulfikar</h6>
                        <p class="text-dark">Toolman TBSM</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-bottom: 20px;">
                <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                    class="card card-color1" data-category="TBSM">
                    <img src="{{asset('user/assets/images/risqi.jpg')}}"
                        style="border-top-left-radius: 10px; border-top-right-radius: 10px;" alt="TBSM">
                    <div class="card-content">
                        <h6 class="text-dark" style="font-weight: bold;">Mohammad Rizki A.</h6>
                        <p class="text-dark">Toolman TBSM</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-bottom: 20px;">
                <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                    class="card card-color1" data-category="TBSM">
                    <img src="{{asset('user/assets/images/rino.jpg')}}"
                        style="border-top-left-radius: 10px; border-top-right-radius: 10px;" alt="TBSM">
                    <div class="card-content">
                        <h6 class="text-dark" style="font-weight: bold;">Rino</h6>
                        <p class="text-dark">Toolman TBSM</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-bottom: 20px;">
                <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                    class="card card-color1" data-category="MPLB">
                    <img src="{{asset('user/assets/images/mariyati.png')}}"
                        style="border-top-left-radius: 10px; border-top-right-radius: 10px;" alt="MPLB">
                    <div class="card-content">
                        <h6 class="text-dark" style="font-weight: bold;">Mariyati, S.E.</h6>
                        <p class="text-dark">K3 MPLB</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-bottom: 20px;">
                <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                    class="card card-color1" data-category="MPLB">
                    <img src="{{asset('user/assets/images/kholil.png')}}"
                        style="border-top-left-radius: 10px; border-top-right-radius: 10px;" alt="MPLB">
                    <div class="card-content">
                        <h6 class="text-dark" style="font-weight: bold;">M. Muhtar K., S.E.</h6>
                        <p class="text-dark">Produktif MPLB</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-bottom: 20px;">
                <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                    class="card card-color1" data-category="MPLB">
                    <img src="{{asset('user/assets/images/khoirulanam.png')}}"
                        style="border-top-left-radius: 10px; border-top-right-radius: 10px;" alt="MPLB">
                    <div class="card-content">
                        <h6 class="text-dark" style="font-weight: bold;">Khoirul A., S.E., M.M.</h6>
                        <p class="text-dark">Produktif MPLB</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-bottom: 20px;">
                <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                    class="card card-color2" data-category="PPLG">
                    <img src="{{asset('user/assets/images/navashoqibatul.png')}}"
                        style="border-top-left-radius: 10px; border-top-right-radius: 10px;" alt="PPLG">
                    <div class="card-content">
                        <h6 class="text-dark" style="font-weight: bold;">Nava S. K., S.Tr.Kom.</h6>
                        <p class="text-dark">K3 PPLG</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-bottom: 20px;">
                <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                    class="card card-color2" data-category="PPLG">
                    <img src="{{asset('user/assets/images/anang.jpg')}}"
                        style="border-top-left-radius: 10px; border-top-right-radius: 10px;" alt="PPLG">
                    <div class="card-content">
                        <h6 class="text-dark" style="font-weight: bold;">Anang H., S.Kom.</h6>
                        <p class="text-dark">Produktif PPLG</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-bottom: 20px;">
                <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                    class="card card-color2" data-category="PPLG">
                    <img src="{{asset('user/assets/images/luqman.png')}}"
                        style="border-top-left-radius: 10px; border-top-right-radius: 10px;" alt="PPLG">
                    <div class="card-content">
                        <h6 class="text-dark" style="font-weight: bold;">Luqman Fauzi, S.Kom.</h6>
                        <p class="text-dark">Produktif PPLG</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-bottom: 20px;">
                <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                    class="card card-color1" data-category="Normatif">
                    <img src="https://via.placeholder.com/200x200.png?text=Normatif"
                        style="border-top-left-radius: 10px; border-top-right-radius: 10px;" alt="Normatif">
                    <div class="card-content">
                        <h6 class="text-dark" style="font-weight: bold;">Eko</h6>
                        <p class="text-dark">Normatif</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-bottom: 20px;">
                <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                    class="card card-color2" data-category="Karyawan">
                    <img src="https://via.placeholder.com/200x200.png?text=Karyawan"
                        style="border-top-left-radius: 10px; border-top-right-radius: 10px;" alt="Karyawan">
                    <div class="card-content">
                        <h6 class="text-dark" style="font-weight: bold;">Fajar</h6>
                        <p class="text-dark">Karyawan</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-bottom: 20px;">
                <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                    class="card card-color1" data-category="Waka">
                    <img src="https://via.placeholder.com/200x200.png?text=Waka"
                        style="border-top-left-radius: 10px; border-top-right-radius: 10px;" alt="Waka">
                    <div class="card-content">
                        <h6 class="text-dark" style="font-weight: bold;">Gita</h6>
                        <p class="text-dark">Waka</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>